@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="logoHolder">
        <img id="logo" style="max-height:500px;" src="~/images/shutterstock_image.png" alt="Movie Borrower Logo" />
    </div>
    <div id="buttonHolder" class="row">
        <a style="background:none; color:white" class="btn btn-default btn-lg col-md-3" role="button" asp-controller="Movie" asp-action="Index">Take Me To The Movies</a>
    </div>
</div>
